@media only screen and (min-width: 401px) {
  body {
    font-size: 14px;
    
    nav {
      .nav-links {
        .main-nav {
          ul {
            &.menu-l1 {
              font-size: 22px;
            }
          }
        }
      }
    }
    
    .hero {
      .tagline {
        font-size: 3em;
      }
    }
    
    .content-tiles {
      .page-sizer {
        a {
          width: 48%;
          
          &:last-child {
            margin: 0 auto;
          }
        }
      }
    }
    
    footer {
      .footer-content {
        font-size: 1.2rem;
        
        .page-sizer {
          > div {
            width: 45%;
            
            .content-image {
              width: 100%;
              margin-bottom: 10px;
            }
            
            .content {
              width: 100%;
            }
          }
        }
      }
      
      .footer-links {
        .flex-wrapper {
          .footer-menu {
            div {
              width: 25%;
              
              ul {
                li {
                  display: block;
                }
              }
            }
          }
          
          .footer-contact {
            position: relative;
            
            .button {
              position: absolute;
              bottom: 15px;
              right: 15px;
            }
          }
        }
      }
    }
  }
}
