@import 'fonts';

body {
  font-family: "Catamaran-Light";
  font-size: 14px;
  line-height: 1.5;
  
  h1, h2, h3, h4, h5,
  ul, p {
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    color: #1782E0;
    text-decoration: none;
  }
  
  input {
    box-shadow: 0px 0px 5px #d8d8d8;
    outline: none;
    border-color: #d8d8d8;
    border: none;
    font-size: 14px;
    line-height: 26px;
    padding: 4px 8px;
  }
  
  button, .button {
    background-color: #35a2ff;
    color: #fff;
    padding: 8px 12px;
    border: 1px solid #6d9ace;
    border-radius: 4px;
    transition: all 0.5s ease;
    
    &:hover {
      background-color: #297fc7;
      cursor: pointer;
    }
  }
  
  img:not([alt]) {
    filter: grayscale(100%);
  }
  
  .page-sizer {
    width: 90%;
    margin: 0 auto;
  }
  
  .offers {
    background-color: #fc6a39;
    color: #ffeeeb;
    padding: 6px 0px;
    height: 25px;
    
    .freeshipping {
      display: inline-block;
      background-color: #c9532f;
      padding: 3px 8px;
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 12px;
    }
    
    ul {
      display: inline-block;
      padding-left: 10px;
      
      &.desktop {
        display: none;
      }
    }
    
  }
  
  nav {
    .nav-mobile {
      border-bottom: 1px solid #ededed;
      
      .nav-mobile-container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        height: 50px;
      
        .nav-mobile-items {
          text-align: center;
          flex: 1;
          border-left: 1px solid #ededed;
          
          &.logo-mobile {
            flex: 4;
            text-align: left;
            border-left: none;
            
            a {
              color: #242424;
              height: 50px;
              padding: 0px;
               
              h1 {
                height: 0px;
                width: 0px;
                text-indent: -9999px;
              }
              
              img {
                width: auto;
                height: 40px;
                padding: 5px 0px;
                margin-left: 8.82%;
              }
            }
          }
                  
          a {
            color: #242424;
            display: block;
            line-height: 16px;
            padding: 17px 0px;
          
            &.cart {
              &::after {
                @include fontawesome;
                content: '\f07a';
              }
            }
            
            &.account {
              &::after {
                @include fontawesome;
                content: '\f007';
              }
            }
            
            &.search {
              &::after {
                @include fontawesome;
                content: '\f002';
              }
            }
            
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    
    .nav-links {
      
      &::before {
        content: '';
          background-image: url(../img/dot.png);
          background-repeat: repeat-x;
          position: relative;
          height: 5px;
          display: block;
          top: 67px;
          z-index: 9;
      }
      
      .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
      
        ul {
          &.menu-l1 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            position: relative;
            
            li {
              height: 32px;
              padding: 15px 0px;
              
              a {
                color: #242424;
                span {
                  &.arrow-down {
                    width: 0;
                    height: 0;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 4px solid #E1E1E1;
                    margin: 0 auto;
                    display: block;
                  }
                }
              }
              
              &:hover {
                a {
                  color: #242424;
                  .arrow-down {
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 8px solid black;  
                    border-top: none;
                  } 
                }
                
                .menu-l2 {
                  display: flex;
                  justify-content: space-between;
                  flex-wrap: wrap;
                }
              }
            }
          }
          
          &.menu-l2 {
            display: none;
            position: absolute;
            left: 0px;
            background-color: #000;
            z-index: 9;
            padding: 15px;
            border-radius: 5px;
            width: 90%;
            
            li {
              height: 88px;
              padding: 0 0px 15px 0;
              
              a {
                height: auto;
                display: block;
                background-color: #f4f4f4;
                border-radius: 5px;
                border: 4px solid #f4f4f4;
                
                div {
                  width: 49%;
                  height: 80px;
                  display: inline-block;
                  vertical-align: top;
                  
                  img {
                    width: 100%;
                    height: 80px;
                    object-fit: cover;
                    border-radius: 5px 0 0 5px;
                  }
                  
                  p {
                    
                    &.title {
                      font-family: 'Catamaran-Semibold';
                      font-size: 0.9rem;
                      padding: 5px 10px 0px 10px;
                    }
                    
                    &.desc {
                      padding: 0px 10px 0px 10px;
                      font-size: 0.7rem;
                    }
                  }
                }
                
                &:hover {
                  border: 4px solid #33A1FF;
                }
              }
              
              &:last-child {
                padding-bottom: 0px;
              }
            }
          }  
        }
      
        .logo {
          display: none;
        }
        
        .additional-links {
          display: none;
        }
      }
    }
  }
  
  .hero {
    height: 350px;
    background-color: #f4f4f4;
    
    .ties-slider {
      width: 100%;
      
      .ties-item {
        width: 80px;
        height: 199px;
        margin: 0 auto;
        
        a {
          color: #242424;
          span {
            text-align: center;
            display: block;
            font-size: 18px;
            margin-top: 10px;
          }
          
          &:hover {
            img {
              position: relative;
              top: -20px;
            }
            span {
              color: #33A1FF;
            }
          }
        }
      }
      
      .owl-nav {
        position: absolute;
        top: 250px;
        width: 100%;
        
        button {
          outline: none;
          
          span {
            font-size: 70px;
            height: 50px;
            background-color: #d8d8d8;
            line-height: 50px;
            display: block;
            width: 40px;
            color: #fff;
            position: relative;
          }
          
          &.owl-prev {
            float: left;
            
            span {
              border-radius: 0px 5px 5px 0px;
            }
          }
          
          &.owl-next {
            float: right;
            
            span {
              border-radius: 5px 0px 0px 5px;
            }
          }
          
          &:hover {
            span {
              background-color: #2A8CFF;
              width: 50px;
            }
          }
        }
      }
    }
    
    .tagline {
      text-align: center;
      font-family: 'Catamaran-Regular';
      font-size: 2.5em;
      height: 130px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 40px;
      line-height: 1em;
    }
  }
  
  .content-tiles {
    margin-top: 30px;
    
    .page-sizer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      a {
        color: #242424;
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          border: 1px solid #eaeaea;
        }
        
        h2 {
          position: absolute;
          top: 15px;
          right: 15px;
          font-family: "Catamaran-SemiBold";
          width: 75px;
          text-align: right;
        }
        
        &:hover {
          img {
            box-shadow: 0 0 10px #33A1FF;  
          }
        }
      }
    }
  }
  
  .testimonial {
    text-align: center;
    font-style: italic;
    font-size: 2em;
    padding-bottom: 20px;
    background-repeat: repeat-x;
    background-image: url(../img/border-x.png);
    background-position: bottom;
    background-size: 8px;
    
    p {
      a {
        font-style: normal;
        text-transform: uppercase;
        color: #33A1FF;
        font-size: 1rem;
      }
    }
    
  }
  
  footer {
    .footer-content {
      .page-sizer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
        
        > div {
          width: 100%;
          margin: 20px 0px;
          
          &.flex-wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;  
          }
          
          h3 {
            width: 100%;
            font-family: 'Catamaran-SemiBold';
            font-size: 1.2rem;
            margin-bottom: 10px;
            text-transform: capitalize;
          }
          
          form {
            button {
              text-transform: uppercase;
              display: block;
              margin-top: 10px;
              font-size: 0.8rem;
              line-height: 1rem;
            }
          }
          
          p {
            margin-bottom: 10px;
            
            &.sociallinks {
              a {
                color: #fff;
                width: 20px;
                height: 20px;
                display: inline-block;
                text-align: center;
                padding: 5px;
                line-height: 20px;
                border-radius: 100%;
                
                &.fb {
                  background-color: #3d5a98;
                  &::before {
                    @include fontawesome;
                    font-family: "Font Awesome 5 Brands";
                    font-size: 16px;
                    line-height: 20px;
                    vertical-align: middle;
                    content: '\f39e';
                  }
                }
                
                &.pt {
                  background-color: #de2109;
                  &::before {
                    @include fontawesome;
                    font-family: "Font Awesome 5 Brands";
                    font-size: 16px;
                    line-height: 20px;
                    vertical-align: middle;
                    content: '\f231';
                  }
                }
                
                &.tw {
                  background-color: #00aced;
                  &::before {
                    @include fontawesome;
                    font-family: "Font Awesome 5 Brands";
                    font-size: 16px;
                    line-height: 20px;
                    vertical-align: middle;
                    content: '\f099';
                  }
                }
              }
            }  
          }
          
          .content-image {
            width: 48%;
            
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border: 1px solid #eaeaea;
            }
          }
          
          .content {
            width: 48%;
          }
        }
      }
    }
    
    .footer-links {
      background-image: url('../img/border-dot.png');
      background-repeat: repeat-x;
      background-color: #F4F4F4;
      padding: 30px 0px;
      
      .flex-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        
        div {
          width: 100%;
          margin-bottom: 10px;
          
          &.footer-menu {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
            h4 {
              font-family: 'Catamaran-SemiBold';
              font-size: 1rem;
            }
            
            ul {
              margin-top: 10px;
              
              li {
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 5px;

                a {
                  color: #909090;
                  
                  &:hover {
                    color: #35a2ff;
                  }
                }
              }
            }
          }
          
          &.footer-contact {
            width: 288px;
            padding: 15px;
            background-color: #a2afc0;
            border-radius: 5px;
            border: 1px solid #919dad;
            color: #fff;
            
            p {
              &.tagline {
                font-size: 1.8rem;
                font-style: italic;
              }
              
              a {
                color: #fff;
              }
            }
            
            .button {
              display: inline-block;
              margin-top: 10px;
              font-size: 1rem;
            }
          }
        }
      }
      
      .copyright {
        color: #909090;
        font-size: 0.7rem;
      }
    }
  }
}

@import 'tablet';
@import 'desktop';
